<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183961939515-sl51glqi85a75vk5napjlp5ul75u3ov7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183961939515-sl51glqi85a75vk5napjlp5ul75u3ov7</string>
	<key>API_KEY</key>
	<string>AIzaSyDOyqbkYXBzp4yvIOzMjefX6zmDqa6hOvs</string>
	<key>GCM_SENDER_ID</key>
	<string>183961939515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sajadthapa.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-282ac</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-282ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183961939515:ios:0dcedfdb59dc9affdf761e</string>
</dict>
</plist>